<%# As váriaveis são declaradas no controlador, sendo utilizadas como váriaveis de instância %>

<html>
    <div class="container">
        <h1> Testes de Recebimento
        <div class="row">
            <div class="col-md-3">
                <h3>
                    Credenciamento
                </h3>
                <%= form_tag("/recebimento/search", method: "get") do %>
                    <input type="submit" class="btn btn-success" value="Enviar">
                <% end %>
            </div>
            <div class="col-md-3">
                <h3>
                    Emitir
                </h3>
                <%= form_tag("/search", method: "get") do %>
                    <input type="submit" class="btn btn-success" value="Enviar">
                <% end %>
            </div>
            <div class="col-md-3">
                <h3>
                    Emissão em Lote
                </h3>
                <%= form_tag("/search", method: "get") do %>
                    <input type="submit" class="btn btn-success" value="Enviar">
                <% end %>
            </div>
            <div class="col-md-3">
                <h3>
                    Emissão de Carnê
                </h3>
                <%= form_tag("/search", method: "get") do %>
                    <input type="submit" class="btn btn-success" value="Enviar">
                <% end %>
            </div>
        </div>
    </div>
</html>