---
http_interactions:
- request:
    method: post
    uri: https://sandbox.pjbank.com.br/recebimentos/
    body:
      encoding: UTF-8
      string: '{"nome_empresa":"Cartão Sem Conta Digital","conta_repasse":"99999-9","agencia_repasse":"00001","banco_repasse":"001","cnpj":"67733092000190","ddd":"22","telefone":"988225511","email":"pjbank-ruby-sdk@mailinator.com","cartao":true}'
    headers:
      Content-Type:
      - application/json
      X-Chave:
      - ''
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - cb304540-fc79-11e7-a0e4-1389844d9971
    body:
      encoding: UTF-8
      string: |-
        {
            "status": "201",
            "msg": "Sucesso ao credenciar",
            "credencial": "921803d24bb2da2eaebb95c96eae1dc2fd14797d",
            "chave": "108f8607a4d0db927a605e45254851a8d5a38e37",
            "conta_virtual": "141015",
            "agencia_virtual": ""
        }
  recorded_at: Thu, 18 Jan 2018 18:02:51 GMT
recorded_with: VCR 4.0.0
