---
http_interactions:
- request:
    method: post
    uri: https://api.pjbank.com.br/recebimentos/1264e7bea04bb1c24b07ace759f64a1bd65c8560/tokens
    body:
      encoding: UTF-8
      string: '{"nome_cartao":"Fulano da silva","numero_cartao":"4012001037141112","mes_vencimento":"05","ano_vencimento":"2018","codigo_cvv":"123","cpf_cartao":"12345678909","email_cartao":"pjbank-ruby-sdk@mailinator.com","celular_cartao":"988225511"}'
    headers:
      Content-Type:
      - application/json
      X-Chave:
      - ef947cf5867488f744b82744dd3a8fc4852e529f
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - eee875b8-fd12-11e7-bb89-13f12e61c05b
    body:
      encoding: UTF-8
      string: |-
        {
            "status": "201",
            "token_cartao": "26357b6566b2dce3217701ec9f3215ffd30e2324",
            "msg": "Sucesso ao tokenizar"
        }
  recorded_at: Fri, 19 Jan 2018 12:19:01 GMT
recorded_with: VCR 4.0.0
