---
http_interactions:
- request:
    method: get
    uri: https://api.pjbank.com.br/recebimentos/1264e7bea04bb1c24b07ace759f64a1bd65c8560/transacoes?data_fim=08/20/2017&data_inicio=08/20/2017&pago=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Chave:
      - ef947cf5867488f744b82744dd3a8fc4852e529f
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - 6c683233-fd23-11e7-aec8-a7d65bc1109d
    body:
      encoding: UTF-8
      string: |-
        [
            {
                "tid": "2017000006910010801039",
                "valor": "1",
                "valor_liquido": "0.93",
                "pedido_numero": "",
                "autorizada": "1",
                "cancelada": "0",
                "parcelas": "1",
                "data_transacao": "08\/20\/2017",
                "data_cancelamento": "",
                "motivo_cancelamento": "",
                "previsao_credito": "09\/21\/2017",
                "convenio_proprio": "",
                "tid_conciliacao": "1006993069000AD82A8A",
                "msg_erro": "",
                "msg_erro_estorno": ""
            },
            {
                "tid": "2017000006910010801040",
                "valor": "1",
                "valor_liquido": "0.93",
                "pedido_numero": "",
                "autorizada": "1",
                "cancelada": "0",
                "parcelas": "1",
                "data_transacao": "08\/20\/2017",
                "data_cancelamento": "",
                "motivo_cancelamento": "",
                "previsao_credito": "09\/21\/2017",
                "conve[...]
