---
http_interactions:
- request:
    method: get
    uri: https://api.pjbank.com.br/recebimentos/1264e7bea04bb1c24b07ace759f64a1bd65c8560/transacoes
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Chave:
      - ef947cf5867488f744b82744dd3a8fc4852e529f
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - b686e849-fd13-11e7-8b4c-2500c861fc88
    body:
      encoding: UTF-8
      string: |-
        [
            {
                "tid": "2018000006910016939823",
                "valor": "10",
                "valor_liquido": "0",
                "pedido_numero": "",
                "autorizada": "0",
                "cancelada": "1",
                "parcelas": "2",
                "data_transacao": "01\/19\/2018",
                "data_cancelamento": "01\/19\/2018",
                "motivo_cancelamento": "0",
                "previsao_credito": "",
                "convenio_proprio": "1",
                "tid_conciliacao": "1006993069000C8BABCA",
                "msg_erro": "",
                "msg_erro_estorno": ""
            },
            {
                "tid": "2018000006910016934771",
                "valor": "51.21",
                "valor_liquido": "0",
                "pedido_numero": "5367203656bd26c3bf9034cc15c1b923",
                "autorizada": "0",
                "cancelada": "0",
                "parcelas": "1",
                "data_transacao": "01\/19\/2018",
                "data_cancelamento": "",
                "motivo_cancelamento": "",
                "previsao_credito": "",
 [...]
