---
http_interactions:
- request:
    method: get
    uri: https://sandbox.pjbank.com.br/recebimentos/15524442a57788c4f3109c939056d821302155a9
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Chave:
      - 027e30fbc768931e0682479e0f0404a0fcc8886b
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - f4366ef8-d3a6-11e8-9011-5ff62b6670a6
      X-Amz-Apigw-Id:
      - PBBh6GucGjQFahQ=
    body:
      encoding: UTF-8
      string: |-
        {
            "cnpj": "50282264000153",
            "tipo": "",
            "nome_empresa": "Empresa de Exemplo",
            "nome_fantasia": "Empresa de Exemplo",
            "banco": "001 Banco do Brasil",
            "agencia": "0001",
            "conta": "99999-9",
            "cep": "",
            "endereco": "",
            "numero": "",
            "bairro": "",
            "cidade": "",
            "estado": "",
            "telefone": "(19)40096830",
            "email": "atendimento@pjbank.com.br",
            "status_conta": "aprovada",
            "cobrancas_pendentes": []
        }
  recorded_at: Fri, 19 Oct 2018 13:57:45 GMT
recorded_with: VCR 4.0.0
