---
http_interactions:
- request:
    method: post
    uri: https://sandbox.pjbank.com.br/contadigital/
    body:
      encoding: UTF-8
      string: '{"nome_empresa":"Boleto Sem Conta Digital","cnpj":"61702829000120","cep":"22031030","endereco":"Rua
        Silva Castro","numero":"48","bairro":"Copacabana","complemento":"8 andar","cidade":"Rio
        de Janeiro","estado":"RJ","ddd":"22","telefone":"988225511","email":"pjbank-ruby-sdk@mailinator.com"}'
    headers:
      Content-Type:
      - application/json
      X-Chave:
      - ''
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - d208d499-430d-11e8-b412-07baf1e37258
      X-Amz-Apigw-Id:
      - FiiQIFGymjQFSlg=
    body:
      encoding: UTF-8
      string: |-
        {
            "credencial": "a92c4a6fae4a8f9e06f141ca4561679f8a9d49a2",
            "chave": "6c1c05b0ccff1e4d3c8c7c28078d4928ec5d99db",
            "webhook_chave": ""
        }
  recorded_at: Wed, 18 Apr 2018 13:38:47 GMT
recorded_with: VCR 4.0.0
