---
http_interactions:
- request:
    method: post
    uri: https://sandbox.pjbank.com.br/recebimentos/
    body:
      encoding: UTF-8
      string: '{"nome_empresa":"Boleto Sem Conta Digital","conta_repasse":"99999-9","agencia_repasse":"00001","banco_repasse":"001","cnpj":"67733092000190","ddd":"22","telefone":"988225511","email":"pjbank-ruby-sdk@mailinator.com"}'
    headers:
      Content-Type:
      - application/json
      X-Chave:
      - ''
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - a03d1bbc-f716-11e7-b6fe-1d0c810855f7
    body:
      encoding: UTF-8
      string: |-
        {
            "status": "201",
            "msg": "Sucesso ao credenciar",
            "credencial": "15524442a57788c4f3109c939056d821302155a9",
            "chave": "027e30fbc768931e0682479e0f0404a0fcc8886b",
            "conta_virtual": "140983",
            "agencia_virtual": ""
        }
  recorded_at: Thu, 11 Jan 2018 21:30:23 GMT
recorded_with: VCR 4.0.0
