<html>
    <div class="container">
        <h1>
            Rails para testes do SDK PJBank, em Ruby
        </h1>
        <br><br>
        <div class="row" style="border: 1px solid #f3f3f3; padding: 10px; text-align: center">
            <div style="font-size: 24px; margin-bottom: 20px;">Recebimento</div>
            <div class="col-md-4">
                <a href="recebimento/boleto" class="btn btn-success">Recebimento - Boleto</a>
            </div>
            <div class="col-md-4">
                <a href="recebimento/cartao" class="btn btn-success">Recebimento - Cartão</a>
            </div>
            <div class="col-md-4">
                <a href="recebimento/extrato" class="btn btn-success">Recebimento - Extrato</a>
            </div>
        </div>
    </div>
</html>