---
http_interactions:
- request:
    method: post
    uri: https://api.pjbank.com.br/recebimentos/1264e7bea04bb1c24b07ace759f64a1bd65c8560/transacoes
    body:
      encoding: UTF-8
      string: '{"token_cartao":"26357b6566b2dce3217701ec9f3215ffd30e2324","valor":"10","parcelas":"2","descricao_pagamento":"Pagamento
        de teste"}'
    headers:
      Content-Type:
      - application/json
      X-Chave:
      - ef947cf5867488f744b82744dd3a8fc4852e529f
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - b6169d92-fd17-11e7-9cc4-63591c9f94e0
    body:
      encoding: UTF-8
      string: |-
        {
            "status": "201",
            "token_cartao": "26357b6566b2dce3217701ec9f3215ffd30e2324",
            "tid": "2018000006910016942581",
            "previsao_credito": "01\/22\/2018",
            "msg": "Transacao capturada com sucesso",
            "tid_conciliacao": "1006993069000C8BB7BA",
            "bandeira": "visa",
            "autorizacao": "123456",
            "cartao_truncado": "4012********1112",
            "statuscartao": "200",
            "tarifa": "0.35",
            "taxa": "7"
        }
  recorded_at: Fri, 19 Jan 2018 12:53:14 GMT
recorded_with: VCR 4.0.0
