---
http_interactions:
- request:
    method: post
    uri: https://sandbox.pjbank.com.br/recebimentos/15524442a57788c4f3109c939056d821302155a9/transacoes
    body:
      encoding: UTF-8
      string: '{"vencimento":"12/30/2019","valor":"1000.98","juros":"0.0","multa":"0.98","desconto":"9.58","nome_cliente":"Cliente
        de exemplo","cpf_cliente":"62936576000112","endereco_cliente":"Rua Joaquim
        Vilac","numero_cliente":509,"complemento_cliente":"","bairro_cliente":"Vila
        Teixeira","cidade_cliente":"Campinas","estado_cliente":"SP","cep_cliente":"13301510","texto":"","grupo":"Boletos001"}'
    headers:
      Content-Type:
      - application/json
      X-Chave:
      - 027e30fbc768931e0682479e0f0404a0fcc8886b
  response:
    status:
      code: 504
      message: Gateway Timeout
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - 9fc0a92a-fbc2-11e7-b7dd-1d4c4dc807b2
    body:
      encoding: UTF-8
      string: '{"message": "Endpoint request timed out"}'
  recorded_at: Wed, 17 Jan 2018 20:12:07 GMT
recorded_with: VCR 4.0.0
