---
http_interactions:
- request:
    method: post
    uri: https://sandbox.pjbank.com.br/recebimentos/15524442a57788c4f3109c939056d821302155a9/transacoes
    body:
      encoding: UTF-8
      string: '{"vencimento":"12/30/2019","valor":"1000.98","juros":"0.0","multa":"0.98","desconto":"9.58","nome_cliente":"Cliente
        de exemplo","cpf_cliente":"62936576000112","endereco_cliente":"Rua Joaquim
        Vilac","numero_cliente":509,"complemento_cliente":"","bairro_cliente":"Vila
        Teixeira","cidade_cliente":"Campinas","estado_cliente":"SP","cep_cliente":"13301510","texto":"","grupo":"Boletos001","pedido_numero":"99887755"}'
    headers:
      Content-Type:
      - application/json
      X-Chave:
      - 027e30fbc768931e0682479e0f0404a0fcc8886b
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - 46808b0a-1182-11e8-8c1b-f7eee75b3cee
    body:
      encoding: UTF-8
      string: |-
        {
            "status": "200",
            "msg": "Sucesso.",
            "nossonumero": "48408",
            "linkBoleto": "https:\/\/sandbox.pjbank.com.br\/boletos\/d5f0c5179a305896c9afecf40c39b5cb614fca33",
            "linkGrupo": "https:\/\/sandbox.pjbank.com.br\/boletos\/grupos\/27df24676df2c9b8633f52dc57ee035bc4d0f65a",
            "linhaDigitavel": "03399.69925 58737.800001 48408.201019 4 81190000100098"
        }
  recorded_at: Wed, 14 Feb 2018 12:26:27 GMT
recorded_with: VCR 4.0.0
