---
http_interactions:
- request:
    method: post
    uri: https://sandbox.pjbank.com.br/contadigital/a92c4a6fae4a8f9e06f141ca4561679f8a9d49a2/recebimentos/transacoes
    body:
      encoding: UTF-8
      string: '{"vencimento":"12/30/2019","valor":50.75,"juros":0,"multa":0,"desconto":"","nome_cliente":"Cliente
        de Exemplo","cpf_cliente":"62936576000112","endereco_cliente":"Rua Joaquim
        Vilac","numero_cliente":"509","complemento_cliente":"","bairro_cliente":"Vila
        Teixeira","cidade_cliente":"Campinas","estado_cliente":"SP","cep_cliente":"13301510","logo_url":"http://wallpapercave.com/wp/xK64fR4.jpg","texto":"Exemplo
        de emissão de boleto","grupo":"Boletos","pedido_numero":"2342"}'
    headers:
      Content-Type:
      - application/json
      X-Chave:
      - 6c1c05b0ccff1e4d3c8c7c28078d4928ec5d99db
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - b8ad80b4-4316-11e8-bbff-dd8d93e0612b
      X-Amz-Apigw-Id:
      - FirldHkhGjQFcSQ=
    body:
      encoding: UTF-8
      string: |-
        {
            "status": "200",
            "msg": "Sucesso.",
            "nossonumero": "119508",
            "linkBoleto": "https:\/\/sandbox.pjbank.com.br\/boletos\/740c7b2d1c23461be7118a4f061ff2d5cdc27dd3",
            "linkGrupo": "https:\/\/sandbox.pjbank.com.br\/boletos\/grupos\/659966048461749609b8f4fb512deba64f0f4532",
            "linhaDigitavel": "03399.69925 58737.800019 19508.401015 3 81190000005075"
        }
  recorded_at: Wed, 18 Apr 2018 14:42:31 GMT
recorded_with: VCR 4.0.0
